/*Global Styles*/
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Regular',sans-serif;
}

a{
    text-decoration: none;
}


/*Main Styles*/
.principal{

}

.main-component{

}

.content{

}